.btn {
  border: 0;
  outline: 0;
  // padding: 10px 20px;
  // color: green;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    // background-color: darken(#aaa, 5%);
    // color: darken(green, 2%);
  }
}
