@import "./partials/vars";
@import "./partials/buttons";
* {
  box-sizing: border-box;
}
body {
  background: #eee;
}

.todolist__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 450px;
  margin: 10em auto;
  background: #fff;
  color: $secondary-color;
}

.todolist__header {
  @extend %p-2;
}

.todolist__body {
  @extend %p-2;

  .todolist__item__wrapper {
    display: flex;
    margin-bottom: 2rem;

    .todolist__item {
      display: flex;
      flex-direction: column;
      flex: 10;
      font-family: $primary-font;
      .title {
        font-size: 18px;
        font-weight: 400;
      }

      .info {
        font-size: 12px;
        color: #999;
        margin-top: 7px;
      }
    }

    &.done {
      .todolist__item {
        text-decoration: line-through;
      }
    }
  }
}

.todolist__item__actions__button:first-of-type {
  margin-right: 5px;
}

%p-2 {
  padding: 2rem;
}
